# This page will be embedded as `{{ content }}` in the layout defined below.
# This is where you'll customize the animations, see skrollr doc for more details.

layout: default.twig
providers:
    all_projects:
        provider: RichElements
        folder: projects

---

{## INTRODUCTION WITH 5 FULLSCREEN IMAGES #}
<section id="introduction">

    <div id="circle"
         data-anchor-target="#portfolio"
         data--10p-bottom-top="transform: scale(1.0);"
         data--60p-bottom-top="transform: scale(0.0);"
         data-140p="transform: scaleY(1.0);"
         data-150p="transform: scaleY(0.0);"
         data-160p="transform: scaleY(1.0);"
         data-240p="transform: scaleY(1.0);"
         data-250p="transform: scaleY(0.0);"
         data-260p="transform: scaleY(1.0);"
    >
        <div id="circle_hello" class="circle_content"
                data-040p="opacity: 1.0;"
                data-060p="opacity: 0.0;"
        ></div>
        <div id="circle_i_m_art_director" class="circle_content"
                data-040p="opacity: 0.0;"
                data-060p="opacity: 1.0;"
                data-149p="opacity: 1.0;"
                data-151p="opacity: 0.0;"
        ></div>
        <div id="circle_yeah"
                data-070p="opacity: 0.0; top:  30px; right: -24px; transform: scale(0.2);"
                data-090p="opacity: 1.0; top: -32px; right: -96px; transform: scale(1.0);"
                data-149p="opacity: 1.0; top: -52px; right: -116px;"
                data-151p="opacity: 0.0;"
        ></div>
        <div id="circle_and" class="circle_content"
                data-149p="opacity: 0.0;"
                data-151p="opacity: 1.0;"
                data-249p="opacity: 1.0;"
                data-251p="opacity: 0.0;"
        ></div>
        <div id="circle_illustrator" class="circle_content"
                data-249p="opacity: 0.0;"
                data-251p="opacity: 1.0;"
                data-340p="opacity: 1.0;"
                data-360p="opacity: 0.0;"
        ></div>
        <div id="circle_pen_left"
                data-249p="opacity: 0.0;"
                data-251p="opacity: 1.0; transform: scale(1.0, 1.0);"
                data-300p="transform: scale(0.9, 1.1);"
                data-340p="opacity: 1.0; transform: scale(1.0, 1.0);"
                data-360p="opacity: 0.0;"
        ></div>
        <div id="circle_pen_right"
                data-249p="opacity: 0.0;"
                data-251p="opacity: 1.0; transform: scale(1.0, 1.0);"
                data-300p="transform: scale(1.1, 0.9);"
                data-340p="opacity: 1.0; transform: scale(1.0, 1.0);"
                data-360p="opacity: 0.0;"
        ></div>
        <div id="circle_that_s_my_work" class="circle_content"
                data-340p="opacity: 0.0;"
                data-360p="opacity: 1.0;"
        ></div>
    </div>

    <div class="row row01"
         data-000p="display: block;"
         data-100p="display: none;"
    ></div>
    <div class="row row02"
         data-000p="top: 100%; display: block;"
         data-100p="top: 0%;"
         data-200p="display: none;"
    ></div>
    <div class="row row03"
         data-100p="top: 100%; display: block;"
         data-200p="top: 0%;"
         data-300p="display: none;"
    ></div>
    <div class="row row04"
         data-200p="top: 100%; display: block;"
         data-300p="top: 0%;"
         data-400p="display: none;"
    ></div>
    <div class="row row05"
         data-300p="top:  100%; display: block;"
         data-400p="top:   0%;"
         data-500p="top: -100%; display: none;"
    ></div>

    <div class="row space"></div>

</section>


{## SHOWCASE OF THE PROJECTS AS THUMBNAILS #}
<section id="portfolio" data-menu-offset="-60">

{% for project in this.providers.all_projects %}

    <a id="thumbnail-{{ project.slug }}" href="#detail-{{ project.slug }}" class="project_thumbnail" data-menu-offset="-50">
        <article
            data-0000-bottom-top="opacity: 0.0"
            data--300-bottom-top="opacity: 1.0;"
        >
            <figure>
                <img src="{{ project.thumbnail }}" alt="Thumbnail for {{ project.title }}">
                <figcaption>
                    <span class="title">{{ project.title }}</span>
                    <br>
                    <span class="client">- {{ project.client }} -</span>
                </figcaption>
            </figure>
        </article>
    </a>

{% endfor %}

</section>


{## DETAILS OF EACH PROJECT #}
<section id="details">




{% for project in this.providers.all_projects %}

    <div id="detail-{{ project.slug }}" data-project-slug="{{ project.slug }}" class="detail" data-menu-offset="-50">

        <div class="container">

            <h3>{{ project.title }}</h3>

        {% if project.images is not empty %}
            <img class="screenshot" src="{{ project.images[0] }}" alt="">
        {% endif %}

            <div class="infos">
                <a class="buttons link" href="{{ project.link }}" target="_blank">link</a>

                <ul>
                    <li><span class="key">Mission</span> : {{ project.mission }}</li>
                    <li><span class="key">Client</span> : {{ project.client }}</li>
                    <li><span class="key">Agency</span> : {{ project.agency }}</li>
                </ul>
            </div>

        {% if project.images|length > 1 %}
            <hr>
            <div class="additional-screenshots">
            {% for image in project.images %}
            {% if not loop.first %}
                <img class="screenshot" src="{{ image }}" alt="">
            {% endif %}
            {% endfor %}
            </div>
        {% endif %}

            <hr>

            <a class="buttons exit" href="#thumbnail-{{ project.slug }}"></a>

            <div class="nav">
                <a class="buttons prev {{ loop.first ? 'disabled' }}" href="#"></a>
                <a class="buttons next {{ loop.last ? 'disabled' }}" href="#"></a>
            </div>


        </div>

    </div>

{% endfor %}

</section>


{## INFORMATION ABOUT HELLOPOYT #}
<section id="information" data-menu-offset="-50">

    <div class="col_left">
        <img id="information_pola_back"  src="media/img/information/pola-back.png"  alt=""
             data-anchor-target="#information"
             data-00000-bottom-top="left: -600px; transform: rotateZ(-200deg);"
             data--0600-bottom-top="left:  000px; transform: rotateZ(0deg);"
             data-00000-top-bottom="left:  100px; transform: rotateZ(20deg);"
        >
        <img id="information_pola_front" src="media/img/information/pola-front.png" alt=""
             data-anchor-target="#information"
             data-00000-bottom-top="left: -600px; transform: rotateZ(-150deg);"
             data--0600-bottom-top="left:  160px; transform: rotateZ(0deg);"
             data-00000-top-bottom="left:  200px; transform: rotateZ(15deg);"
        >
    </div>

    <div class="col_right">
        <h2>Hellopoyt</h2>
        <p class="first">
            {{ this.hellopoyt.p1 }}
        </p>
        <p class="second">
            {{ this.hellopoyt.p2 }}
        </p>
    </div>

</section>


<hr class="clear">


{## CONTACT INFORMATION #}
<section id="contact">

    <h2>Contact</h2>
    <nav>
        <a id="contact_mail" href="{{ this.contact.mail }}">
            <img src="media/img/contact/btn-mail.png" alt="Mail">
            <span>mail</span>
        </a>
        <a id="contact_behance" href="{{ this.contact.behance }}">
            <img src="media/img/contact/btn-behance.png" alt="Behance">
            <span>behance</span>
        </a>
        <a id="contact_tumblr" href="{{ this.contact.tumblr }}">
            <img src="media/img/contact/btn-tumblr.png" alt="Tumblr">
            <span>tumblr</span>
        </a>
    </nav>

</section>
