# PAS TOUCHE (ou je mords!)

layout: default.twig
providers:
    all_projects:
        provider: RichElements
        folder: projects

##################
## Configuration

contact:
    mail:    "mailto:pat.grivet@gmail.com"
    behance: "http://www.behance.net/patgrivet‎"
    tumblr:  "http://hellopoyt.tumblr.com"

---

<section id="introduction">

    <div id="circle"
         data-anchor-target="#portfolio"
         data-510-top-top="transform: scale(1.0);"
         data-311-top-top="transform: scale(0.0);"
         data-795="transform: rotateX(0deg);"
         data-995="transform: rotateX(180deg);"
         data-1394="transform: rotateX(180deg);"
         data-1594="transform: rotateX(0deg);"
    >
        <div id="circle_hello" class="circle_content"
                data-250="opacity: 1.0;"
                data-390="opacity: 0.0;"
        ></div>
        <div id="circle_i_m_art_director" class="circle_content"
                data-270="opacity: 0.0;"
                data-420="opacity: 1.0;"
                data-894="opacity: 1.0;"
                data-896="opacity: 0.0;"
        ></div>
        <div id="circle_yeah"
                data-450="opacity: 0.0; top:  30px; right: -24px; transform: scale(0.2);"
                data-570="opacity: 1.0; top: -32px; right: -96px; transform: scale(1.0);"
                data-894="opacity: 1.0; top: -42px; right: -106px;"
                data-896="opacity: 0.0;"
        ></div>
        <div id="circle_and" class="circle_content"
                data-0894="opacity: 0.0;"
                data-0896="opacity: 1.0;"
                data-1493="opacity: 1.0;"
                data-1495="opacity: 0.0;"
        ></div>
        <div id="circle_illustrator" class="circle_content"
                data-1493="opacity: 0.0;"
                data-1495="opacity: 1.0;"
                data-1990="opacity: 1.0;"
                data-2190="opacity: 0.0;"
        ></div>
        <div id="circle_pen_left"
                data-1493="opacity: 0.0;"
                data-1495="opacity: 1.0;"
                data-1990="opacity: 1.0;"
                data-2190="opacity: 0.0;"
        ></div>
        <div id="circle_pen_right"
                data-1493="opacity: 0.0;"
                data-1495="opacity: 1.0;"
                data-1990="opacity: 1.0;"
                data-2190="opacity: 0.0;"
        ></div>
        <div id="circle_that_s_my_work" class="circle_content"
                data-1990="opacity: 0.0;"
                data-2190="opacity: 1.0;"
        ></div>
    </div>

    <div class="row row01"></div>
    <div class="row row02"></div>
    <div class="row row03"></div>
    <div class="row row04"></div>
    <div class="row row05"></div>

</section>



<section id="portfolio">

    {% for project in this.providers.all_projects %}

    <article
        data-000-bottom-top="transform: scale(0.0);"
        data--311-bottom-top="transform: scale(1.0);"
    >
        <figure>
            <img src="{{ project.thumbnail }}" alt="Thumbnail for {{ project.title }}">
            <figcaption>
                <span class="title">{{ project.title }}</span>
                <br>
                <span class="client">- {{ project.client }} -</span>
            </figcaption>
        </figure>
    </article>

    {% endfor %}

</section>



<section id="information">

    <div class="col_left">
        <img id="information_pola_back"  src="media/img/information/pola-back.png"  alt=""
             data-anchor-target="#information"
             data-00000-bottom-top="left: -600px; transform: rotateZ(-200deg);"
             data--0600-bottom-top="left:  000px; transform: rotateZ(0deg);"
             data-00000-top-bottom="left:  100px; transform: rotateZ(20deg);"
        >
        <img id="information_pola_front" src="media/img/information/pola-front.png" alt=""
             data-anchor-target="#information"
             data-00000-bottom-top="left: -600px; transform: rotateZ(-150deg);"
             data--0600-bottom-top="left:  160px; transform: rotateZ(0deg);"
             data-00000-top-bottom="left:  200px; transform: rotateZ(15deg);"
        >
    </div>

    <div class="col_right">
        <h2>Hellopoyt</h2>
        <p class="first">
            Bacon ipsum dolor sit amet labore incididunt et, tail voluptate fugiat meatball cupidatat t-bone kielbasa ea ut andouille culpa. Sausage shoulder meatloaf cow veniam. Aute kielbasa fatback velit, pig ut minim tail tenderloin magna dolore. Pork leberkas jowl pork chop. Pariatur kevin brisket, incididunt minim voluptate tri-tip aute elit pastrami in strip steak.
        </p>
        <p class="second">
            Veniam id dolor pork loin. Mollit pig pork loin ribeye pancetta ut ut turkey ground round capicola veniam frankfurter doner. Est biltong pork loin fugiat laboris. Shank kielbasa ut, ribeye voluptate beef incididunt filet mignon dolor elit pork belly ad rump nisi.
        </p>
    </div>

</section>

<hr class="clear">

<section id="contact">
    <h2>Contact</h2>
    <nav>
        <a id="contact_mail" href="{{ page.contact.mail }}">
            <img src="media/img/contact/btn-mail.png" alt="Mail">
            <span>mail</span>
        </a>
        <a id="contact_behance" href="{{ page.contact.behance }}">
            <img src="media/img/contact/btn-behance.png" alt="Behance">
            <span>behance</span>
        </a>
        <a id="contact_tumblr" href="{{ page.contact.tumblr }}">
            <img src="media/img/contact/btn-tumblr.png" alt="Tumblr">
            <span>tumblr</span>
        </a>
    </nav>
</section>
